@model TestForum.Models.IndexViewModel
@{
    ViewBag.Title = "User Page";
}

<div class="jumbotron">
    <h1 class="display-4">Hello, @Model.Username</h1>
    <hr class="my-4"/>
    <h2>
        My roles:
    </h2>
    <ul class="list-group">
        @foreach(var item in Model.Roles)
        {
            <li class="list-group-item">@item</li>
        }
    </ul>
</div>
